@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Smooch+Sans:wght@100..900&display=swap');

body {
    margin: 0;
}

.headwrapper {
    background-color: papayawhip;
    font-family: "Smooch Sans", sans-serif;
}

header {
    padding: 1rem;
}

header h1,
header h2 {
    margin: 0;
}

header h1 {
    margin-bottom: 1rem;
}

main {
    font-family: "Protest Riot", serif;
    padding: 2rem;
    background-color:burlywood;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main h1 {
    margin: 0;
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    color:aliceblue

}

main p {
    max-width: 80ch;
    flex: 1 1 auto;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    text-align: justify;
    color: navy;
}